    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: 'Source Serif Pro';
        src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), url('../fonts/Sourceserifprosemibold.woff2') format('woff2'), url('../fonts/Sourceserifprosemibold.woff') format('woff'), url('../fonts/Sourceserifprosemibold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
    
    html {
        font-size: 16px;
    }
    
    body {
        font-family: "Roboto", sans-serif;
        text-align: center;
    }
    
    header {
        background-color: rgba(32, 83, 80, 0.5);
        padding: 30px 0 31px;
    }
    
    a {
        text-decoration: none;
    }
    
    header a {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 23.44px;
        letter-spacing: 0.065em;
        color: #FFF;
    }
    
    header a:not(:last-child)::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: #FFFFFF;
        vertical-align: middle;
        margin: 0 45px;
    }
    
    @media screen and (max-width: 1024px) {
        header {
            padding: 24px 0 25px;
        }

        header a {
            font-size: 1.125rem;
            line-height: 21.09px;
        }

        header a:not(:last-child)::after {
            width: 25px;
            margin: 0 50px;
        }
    }

    @media screen and (max-width: 768px) {
        header {
            padding: 18px 0 20px;
        }

        header a {
            font-size: 0.94rem;
            line-height: 17.58px;
        }

        header a:not(:last-child)::after {
            width: 20px;
        }
    }

    @media screen and (max-width: 538px) {
        header a {
            display: block;   
        }
        
        header a:not(:last-child)::after {
            display: block;
            margin: 10px auto;
        }
    }
    
    section {
        padding: 100px 0;
    }

    .wrapper {
        max-width: 1176px;
        margin: 0 auto;
        font-size: 0;
    }

    @media screen and (max-width: 1176px) {
        .wrapper {
        padding-right: 41px;
        padding-left: 40px;
        } 
    }
    
    .park {
        background-image: url(../img/facade.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: #FFF;
        padding-top: 450px;
        padding-bottom: 130px;
        position: relative;
    }
    
    h1 {
        font-size: 3.75rem;
        line-height: 70.31px;
        letter-spacing: 0.02em;
    }
    
    .paragraph {
        font-size: 1.56rem;
        font-weight: 300;
        line-height: 29.3px;
    }
    
    .park p {
        font-weight: 400;
        line-height: 32.55px;
        letter-spacing: 0.02em;
        max-width: 495px;
        margin: 30px auto 60px;
    }
    
    .park a {
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
        max-width: 312px;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: #AE5F3D;
        border-radius: 30px;
        color: #FFF;
        margin: 0 auto;
        transition: all .5s linear;
    }
    
    .park a:hover {
        color: #052742;
        background-color: #FF1493;
        opacity: .6;
    }
    
    .arrow::after {
        content: "";
        display: block;
        width: 57px;
        height: 20px;
        background-image: url("../icons/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        border: 1.5px;
        margin: 85px auto 0;
    }

    .arrow_up {
        position: fixed;
        bottom: 28px;
        right: 28px;
        z-index: 1;
    }

    .arrow_up a {
        height: 52px;
        width: 42px;
        text-align: center;
        display: block;
        border-radius: 2px;
    }

    .arrow_up a span {
        color: #170444;
        font-size: 50px;
        line-height: 52px;
        cursor: pointer;
        transition: all .5s linear;
    }

    .arrow_up a span:hover {
        transform: scale(2);
    }
 
    @media screen and (max-width: 1024px) {
        .park {
            padding-top: 353px 0 85px;
        }
        
        h1 {
            font-size: 2.8rem;
            line-height: 52.73px;
        }
        
        .park p {
            font-size: 1.125rem;
            line-height: 23.43px;
            max-width: 356px;
            margin: 20px auto 45px;
        }
        
        .park a {
            font-size: 1.06rem;   
            height: 60px;
            line-height: 48px;
        }

        .arrow::after {
            margin: 40px auto 0;
        }
    }

    @media screen and (max-width: 768px) {
        .park {
            padding-top: 249px;
            padding-bottom: 72px;
        }
        
        .arrow::after {
            margin: 27px auto 0;
        }

        .park a {
            font-size: 1.06rem;     
            height: 48px;
        }
    }

    h2 {
        font-size: 2.5rem;
        line-height: 46.88px;
    }

    .about img {
        width: 100%;
        max-width: 617px;
    }
    
    .about h2 {
        margin: 30px 0 37px;
    }
    
    .about p {
        line-height: 29.3px;
        letter-spacing: 0.02em;
        max-width: 608px;
        margin: 0 auto;
    }

    @media screen and (max-width: 1024px) {
    
        .about img {
            max-width: 553px;
        }
        
        h2 {
            font-size: 2.19rem;
            line-height: 41.02px;
        }

        .paragraph {
            font-size: 1.38rem;
            line-height: 25.78px;
        }
        
        .about p {
            max-width: 537px;
        }
    }

    @media screen and (max-width: 768px) {
        .about img {     
            max-width: 486px;
        }
        
        .about h2 {
            margin-top: 25px 0 32px;
        }
        
        .about p {
            max-width: 571px;
        }
    }

    .entertainment {
        background-color: #F1F1F1;   
    }
    
    .entertainment .paragraph {
        max-width: 520px;
        line-height: 30.92px;
        margin: 37px auto 30px;
    }
    
    .entertainment_type {
        display: inline-block;
        width: calc((100% - 2 * 24px) / 3);
        background-color: #FFF;
        border-radius: 30px;
        padding: 30px 5px;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 27.14px;
        max-width: 444px;
    }
    
    .entertainment_type i {
        color: #AE5F3D;
        font-size: 150px;
        line-height: 150px;
    }
    
    #bath {
        font-size: 150px;
    }
    
    #fish {
        font-size: 160px;
    }
    
    #sport {
        font-size: 170px;
    }
    
    .entertainment_type:not(:last-child) {
        margin-right: 24px;
    }
    
    .entertainment_type h3 {
        font-size: 1.56rem;
        font-weight: 400;
        line-height: 29.3px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    .small {
        font-size: 1.25rem;
        line-height: 27.14px;
    }

    @media screen and (max-width: 1024px) {
        .entertainment .paragraph {
            max-width: 456px;
            line-height: 27.21px;
        }
        
        .entertainment_type {
            width: calc((100% - 2 * 20px) / 3);  
            padding: 30px 5px;
            font-size: 1rem;
            line-height: 21.71px;
        }

        .entertainment_type:not(:last-child) {
            margin-right: 20px;
        }
                
        #bath {
            font-size: 120px;
        }
        
        #fish {
            font-size: 128px;
        }
        
        #sport {
            font-size: 136px;
        }
        
        .entertainment_type h3 {
            font-size: 1.38rem;
            line-height: 25.78px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    @media screen and (max-width: 768px) {        
        .entertainment_type {
            display: block;
            font-size: 1.44rem;
            line-height: 31.21px;
            width: 100%;
            margin: 0 auto;
        }
        
        #bath {
            font-size: 150px;
        }
        
        #fish {
            font-size: 160px;
        }
        
        #sport {
            font-size: 170px;
        }
        
        .entertainment_type h3 {
            font-size: 1.44rem;    
            line-height: 26.95px;
            margin-top: 25px;
            margin-bottom: 20px;
        }

        .entertainment_type:not(:last-child) {
            margin: 0 auto 30px;
        }
    }

    .apartments img {
        width: 100%;
        max-width: 698px;
    }

    .apartments .paragraph {
        max-width: 617px;
        margin: 30px auto 55px;
        line-height: 29.3px;
    }
     
    .apartments_type {
        display: inline-block;
        width: calc((100% - 2 * 48px) / 3);
        text-align: left;
        vertical-align: top;
        position: relative;
        max-width: 698px;
    }
    
    .apartments_type:not(:last-child) {
        margin-right: 48px;
    }
    
    .apartments_type p {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 21.09px;
        color: #474747;
    }
    
    .apartments_type h3 {
        font-size: 1.88rem;
        font-weight: 400;
        line-height: 35.16px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .apartments_type::after {
        font-size: 1rem;
        font-weight: 500;
        line-height: 18.75px;
        position: absolute;
        width: 132px;
        height: 30px;
        top: 10px;
        right: 10px;
        bottom: 190px;
        background-color: rgba(255, 255, 255, 0.8);
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
    }
    
    .apartments_type:first-of-type::after {
        content: "от 7 т.р./сутки";
    }

    .apartments_type:nth-of-type(2)::before {
        content: "VIP";
        position: absolute;
        font-family: 'Source Serif Pro';
        font-weight: 600;
        color: #FFF;
        width: 50px;
        height: 50px;
        background-color: #F24040;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        font-size: 0.88rem;
        top: -25px;
        left: -25px;
    }
    
    .apartments_type:nth-of-type(2)::after {
        content: "от 23 т.р./сутки";
    }

    .apartments_type:nth-of-type(3)::after {
        content: "от 13 т.р./сутки";
    }

    @media screen and (max-width: 1440px) {

        .apartments_type::after {   
            width: 132px; 
        }
    } 

    @media screen and (max-width: 1024px) {
       .apartments_type {
            display: block;
            width: 100%;
            margin: 0 auto;
        }

        .apartments_type:not(:last-child) {
            margin: 0 auto 75px;
        }

        .apartments .paragraph {
            margin: 30px auto 30px;
        }
        
        .apartments_type p {
            font-size: 1.44rem;
            line-height: 26.95px;
        }
        
        .apartments_type h3 {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    
        .apartments_type::after {
            font-size: 1.125rem;
            line-height: 21.09px;
            width: 150px;
            height: 34px;
            top: 20px;
            right: 20px;
            bottom: 371px;
            line-height: 34px;    
        }
    
        .apartments_type:nth-of-type(2)::before {    
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 768px) {
        .apartments_type {
            max-width: 592px;
        }

    
        .apartments .paragraph {
            max-width: 501px;
            margin: 25px auto 30px;
            line-height: 25.78px;
        }
        
        .apartments_type:not(:last-child) {
            margin-bottom: 70px;
        }

        .apartments_type p {
            font-size: 1.38rem;
            line-height: 25.78px;
        }
        
        .apartments_type h3 { 
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        .apartments_type::after {
            font-size: 1.25rem;
            line-height: 23.44px; 
            width: 168px;
            height: 36px;
            top: 10px;
            right: 10px;
            bottom: 313px;
            line-height: 36px; 
        }
    
        .apartments_type:nth-of-type(2)::before {
            font-size: 1.125rem;
        }
    }

    .booking {
        background-color: #F5F5F5;
    }
    
    form {
        background: #FFF;
        border: 1px solid #EEE;
        border-radius: 30px;
        padding: 100px 121px 119px 100px;
        margin: 0 auto;
        max-width: 1016px;
    }
    
    .booking h2 {
        text-align: center;
    }

    .booking .paragraph {
        max-width: 572px;
        margin: 30px auto 50px;
        font-weight: 300;
        text-align: center;
    }
    
    .label {
        display: block;
    }
    
    .label,
    .choose {
        font-weight: 300;
        font-size: 1.38rem;
        line-height: 25.78px;
        margin-bottom: 20px;
    }
    
    .input {
        margin-bottom: 25px;
        width: 100%;
        height: 60px;
        padding-left: 35px;
        border: 1px solid rgba(174, 95, 61, 1);
    }
    
    .input:focus {
        outline-color: #FF1493;
    }
    
    form div:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .booking div {
        text-align: left;
    }
    
    form div input {
        width: 20px;
        height: 20px;
        margin-right: 16px;
    }
    
    .button {
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 23.44px;
        background: #AE5F3D;
        max-width: 404px;
        width: 100%;
        height: 60px;
        border-radius: 30px;
        margin: 40px auto 0;
        transition: all .5s linear;
        color:#FFF
    }
    
    .button:hover {
        color: #8a191e;
        background-color: #90c051;
    }

    .radiobutton {
        font-size: 1.25rem;
    }
    
   @media screen and (max-width: 1024px) {
        form {
            padding: 80px 68px 80px 67px;
            max-width: 820px;
        }
        
        .booking .paragraph {
            max-width: 572px;
            margin: 30px auto 30px;
        }
        
        .input {
            height: 53px;
        }

        form div input {
            margin-right: 15px;
        }
        
        .button {    
            font-size: 1.125rem;
            line-height: 21.09px; 
            height: 48px; 
            white-space: normal;    
        }

        .radiobutton {
        font-size: 1.125rem;
        } 
    }

    @media screen and (max-width: 768px) {
        form {    
            padding: 70px 52px;
            max-width: 720px;
        }
        
        .booking .paragraph {
            max-width: 506px;
            margin: 25px auto 35px;
        }
        
        .input {
            margin-bottom: 20px;
            height: 58px;
        }
        
        form div input {
            margin-right: 13px;
        }
    }

    footer {
        padding: 70px 0;
    }
    
    .nav_footer {
        width: 150px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 35px auto;
        border-top: 0.7px solid #737373;
        border-bottom: 0.7px solid #737373;
    }
    
    footer h3 {
        font-size: 1.88rem;
        font-weight: 500;
        line-height: 35.16px;
    }
    
    .nav_footer a {
        display: block;
        color: #000;
        font-size: 0.94rem;
        font-weight: 500;
        line-height: 17.58px;
        letter-spacing: 0.065em;
    }
    
    .nav_footer a:not(:last-child) {
        margin-bottom: 30px;
    }
    
    .socials i {
        color: #000;
    }

    .socials i:hover {
        transform: scale(2);
    }
    
    .socials a:not(:last-child) {
        margin-right: 30px;
    }
   
    @media screen and (max-width: 1024px) {
        footer {
            padding: 50px 0;
        }
        
        .nav_footer {
            width: 140px;
            padding-bottom: 20px;
            margin: 25px auto;
        }
        
        footer h3 {
            font-size: 1.69rem;
            line-height: 31.64px;
        }
        
        .nav_footer a {
            font-size: 0.81rem;
            line-height: 15.23px;
        }
        
        .nav_footer a:not(:last-child) {
            margin-bottom: 33px;
        }
     }
 
     @media screen and (max-width: 768px) {
        
        footer h3 {
            font-size: 1.56rem;
            line-height: 29.3px;
        }
        
        .nav_footer a {
            font-size: 0.94rem;
            line-height: 17.58px;
        }
     }